{
  "extends": "airbnb/base",
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "node": true,
    "mocha": true
  },
  "globals": {
    "atom": true,
    "expect": true,
    "waitsForPromise": true
  },
  "rules": {
    "no-console": 0
  }
}
