{
  "extends": "airbnb/base",
  "parser": "babel-eslint",
  "plugins": [
    "babel"
  ],
  "env": {
    "es6": true,
    "node": true
  },
  "globals": {
    "atom": true
  },
  "rules": {
    "no-console": 0
  }
}
